USE [FinalProject_18521000]
GO
/****** Object:  Table [dbo].[DIM_CUSTOMER]    Script Date: 6/8/2022 12:28:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_CUSTOMER](
	[CUSTOMERNAME] [varchar](50) NOT NULL,
	[PHONE] [varchar](50) NULL,
	[ADDRESSLINE1] [varchar](50) NULL,
	[CITY] [varchar](50) NULL,
	[COUNTRY] [varchar](50) NULL,
	[TERRITORY] [varchar](50) NULL,
	[CONTACTLASTNAME] [varchar](50) NULL,
 CONSTRAINT [PK_DIM_CUSTOMER] PRIMARY KEY CLUSTERED 
(
	[CUSTOMERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_PRODUCT]    Script Date: 6/8/2022 12:28:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_PRODUCT](
	[PRODUCTLINE] [varchar](50) NULL,
	[MSRP] [float] NULL,
	[PRODUCTCODE] [varchar](50) NOT NULL,
 CONSTRAINT [PK_DIM_PRODUCT] PRIMARY KEY CLUSTERED 
(
	[PRODUCTCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_SIZE]    Script Date: 6/8/2022 12:28:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_SIZE](
	[DEALSIZE] [varchar](50) NOT NULL,
 CONSTRAINT [PK_DIM_SIZE] PRIMARY KEY CLUSTERED 
(
	[DEALSIZE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_STATUS]    Script Date: 6/8/2022 12:28:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_STATUS](
	[STATUS] [varchar](50) NOT NULL,
 CONSTRAINT [PK_DIM_STATUS] PRIMARY KEY CLUSTERED 
(
	[STATUS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_TIME]    Script Date: 6/8/2022 12:28:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_TIME](
	[ORDERDATE] [date] NOT NULL,
	[QTR_ID] [int] NULL,
	[MONTH_ID] [int] NULL,
	[YEAR_ID] [int] NULL,
 CONSTRAINT [PK_DIM_TIME] PRIMARY KEY CLUSTERED 
(
	[ORDERDATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACT]    Script Date: 6/8/2022 12:28:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACT](
	[PRICEEACH] [float] NULL,
	[SALES] [float] NULL,
	[PRODUCTCODE] [varchar](50) NULL,
	[QUANTITYORDERED] [float] NULL,
	[ORDERDATE] [date] NULL,
	[STATUS] [varchar](50) NULL,
	[CUSTOMERNAME] [varchar](50) NULL,
	[DEALSIZE] [varchar](50) NULL,
	[ORDERLINENUMBER] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[DIM_CUSTOMER] ([CUSTOMERNAME], [PHONE], [ADDRESSLINE1], [CITY], [COUNTRY], [TERRITORY], [CONTACTLASTNAME]) VALUES (N'Alpha Cognac', N'61.77.6555', N'1 rue Alsace-Lorraine', N'Toulouse', N'France', N'EMEA', N'Roulet')
INSERT [dbo].[DIM_CUSTOMER] ([CUSTOMERNAME], [PHONE], [ADDRESSLINE1], [CITY], [COUNTRY], [TERRITORY], [CONTACTLASTNAME]) VALUES (N'Amica Models & Co.', N'011-4988555', N'Via Monte Bianco 34', N'Torino', N'Italy', N'EMEA', N'Accorti')
INSERT [dbo].[DIM_CUSTOMER] ([CUSTOMERNAME], [PHONE], [ADDRESSLINE1], [CITY], [COUNTRY], [TERRITORY], [CONTACTLASTNAME]) VALUES (N'Anna''s Decorations  Ltd', N'02 9936 8555', N'201 Miller Street', N'North Sydney', N'Australia', N'APAC', N'O''Hara')
GO
INSERT [dbo].[DIM_PRODUCT] ([PRODUCTLINE], [MSRP], [PRODUCTCODE]) VALUES (N'Motorcycles', 95, N'S10_1678')
INSERT [dbo].[DIM_PRODUCT] ([PRODUCTLINE], [MSRP], [PRODUCTCODE]) VALUES (N'Classic Cars', 214, N'S10_1949')
INSERT [dbo].[DIM_PRODUCT] ([PRODUCTLINE], [MSRP], [PRODUCTCODE]) VALUES (N'Motorcycles', 118, N'S10_2016')
GO
INSERT [dbo].[DIM_SIZE] ([DEALSIZE]) VALUES (N'Large')
INSERT [dbo].[DIM_SIZE] ([DEALSIZE]) VALUES (N'Medium')
INSERT [dbo].[DIM_SIZE] ([DEALSIZE]) VALUES (N'Small')
GO
INSERT [dbo].[DIM_STATUS] ([STATUS]) VALUES (N'Cancelled')
INSERT [dbo].[DIM_STATUS] ([STATUS]) VALUES (N'Disputed')
INSERT [dbo].[DIM_STATUS] ([STATUS]) VALUES (N'In Process')
GO
INSERT [dbo].[DIM_TIME] ([ORDERDATE], [QTR_ID], [MONTH_ID], [YEAR_ID]) VALUES (CAST(N'2003-01-06' AS Date), 1, 1, 2003)
INSERT [dbo].[DIM_TIME] ([ORDERDATE], [QTR_ID], [MONTH_ID], [YEAR_ID]) VALUES (CAST(N'2003-01-09' AS Date), 1, 1, 2003)
INSERT [dbo].[DIM_TIME] ([ORDERDATE], [QTR_ID], [MONTH_ID], [YEAR_ID]) VALUES (CAST(N'2003-01-10' AS Date), 1, 1, 2003)
GO
INSERT [dbo].[FACT] ([PRICEEACH], [SALES], [PRODUCTCODE], [QUANTITYORDERED], [ORDERDATE], [STATUS], [CUSTOMERNAME], [DEALSIZE], [ORDERLINENUMBER]) VALUES (95.7, 2871, N'S10_1678', 30, CAST(N'2003-02-24' AS Date), N'Shipped', N'Land of Toys Inc.', N'Small', N'2')
INSERT [dbo].[FACT] ([PRICEEACH], [SALES], [PRODUCTCODE], [QUANTITYORDERED], [ORDERDATE], [STATUS], [CUSTOMERNAME], [DEALSIZE], [ORDERLINENUMBER]) VALUES (81.35, 2765.9, N'S10_1678', 34, CAST(N'2003-05-07' AS Date), N'Shipped', N'Reims Collectables', N'Small', N'5')
INSERT [dbo].[FACT] ([PRICEEACH], [SALES], [PRODUCTCODE], [QUANTITYORDERED], [ORDERDATE], [STATUS], [CUSTOMERNAME], [DEALSIZE], [ORDERLINENUMBER]) VALUES (94.74, 3884.34, N'S10_1678', 41, CAST(N'2003-07-01' AS Date), N'Shipped', N'Lyon Souveniers', N'Medium', N'2')
GO
ALTER TABLE [dbo].[FACT]  WITH CHECK ADD  CONSTRAINT [FK_FACT_DIM_CUSTOMER] FOREIGN KEY([CUSTOMERNAME])
REFERENCES [dbo].[DIM_CUSTOMER] ([CUSTOMERNAME])
GO
ALTER TABLE [dbo].[FACT] CHECK CONSTRAINT [FK_FACT_DIM_CUSTOMER]
GO
ALTER TABLE [dbo].[FACT]  WITH CHECK ADD  CONSTRAINT [FK_FACT_DIM_PRODUCT] FOREIGN KEY([PRODUCTCODE])
REFERENCES [dbo].[DIM_PRODUCT] ([PRODUCTCODE])
GO
ALTER TABLE [dbo].[FACT] CHECK CONSTRAINT [FK_FACT_DIM_PRODUCT]
GO
ALTER TABLE [dbo].[FACT]  WITH CHECK ADD  CONSTRAINT [FK_FACT_DIM_SIZE] FOREIGN KEY([DEALSIZE])
REFERENCES [dbo].[DIM_SIZE] ([DEALSIZE])
GO
ALTER TABLE [dbo].[FACT] CHECK CONSTRAINT [FK_FACT_DIM_SIZE]
GO
ALTER TABLE [dbo].[FACT]  WITH CHECK ADD  CONSTRAINT [FK_FACT_DIM_STATUS] FOREIGN KEY([STATUS])
REFERENCES [dbo].[DIM_STATUS] ([STATUS])
GO
ALTER TABLE [dbo].[FACT] CHECK CONSTRAINT [FK_FACT_DIM_STATUS]
GO
ALTER TABLE [dbo].[FACT]  WITH CHECK ADD  CONSTRAINT [FK_FACT_DIM_TIME] FOREIGN KEY([ORDERDATE])
REFERENCES [dbo].[DIM_TIME] ([ORDERDATE])
GO
ALTER TABLE [dbo].[FACT] CHECK CONSTRAINT [FK_FACT_DIM_TIME]
GO
